<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main menu</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .book {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .book tr td, th {
            padding: 20px;
            border: 1px solid steelblue;
        }

        .book td:last-child, td:first-child {
            width: 50px;
        }

        .main-menu{
            padding-top:100px;
        }

        .errors{
            color:red;
        }


    </style>

</head>
<body>
<form th:method="put"
      th:object="${bookDto}">
    <h3>Book:</h3>
    <table class="book">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genres</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input name="id" type="text" readonly="readonly" value="1" th:field="*{id}" th:value="${book.id}"/>
            </td>
            <td>
                <input name="title" type="text" value="Book_1" th:field="*{title}" th:value="${book.title}"/>
                <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Wrong title error</div>
            </td>

            <td>
                <select th:field="*{authorId}">
                    <option th:each="author: ${authors}"
                            th:value="${author.id}"
                            th:text="${author.fullName}">
                    </option>
                </select>
            </td>
            <td>
                <li th:each="genre:${genres}">
                    <input type="checkbox" th:field="*{genreIds}" th:value="${genre.id}"/>
                    <label th:text="${genre.name}"></label>
                </li>

            </td>
            <td>
                <ul th:each="comment: ${comments}">
                    <li th:text="${comment.text}">Comment_1</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>


    <button type="submit">Save</button>


    <div class="main-menu">
        <div><a href="/">Main menu</a></div>
    </div>
</form>
</body>
</html>
