<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Register</title>
    <style>
        .center {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin: 5px 0;
        }
        .input-div{
              margin: 5px 0;
        }

    </style>
</head>
<body>
<h1 class="center">Please Register</h1>
<div class="center" th:if="${param.error}">
    Invalid username and password.
</div>

<form class="center" th:action="@{/register}" th:method="post" th:object="${userDto}">
    <div class="input-div">
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div class="input-div">
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <div class="input-div">
        <input type="password" name="repeatPassword" placeholder="Repeat your password"/>
    </div>
    <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
    <input type="submit" value="Register"/>
</form>
</body>
</html>