<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main menu</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .book {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .book tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .book td:last-child, td:first-child {
            width: 50px;
        }

        .main-menu{
            padding-top:100px;
        }


    </style>

</head>
<body>


<h3>Book:</h3>
<table class="book">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${book}">
        <td th:text="*{id}">1</td>
        <td th:text="*{title}">Book_1</td>
        <td th:text="*{author.fullName}">Author_1</td>
        <td>
            <ul th:each="genre: *{genres}" th:object="${genre}">
                <li th:text="*{name}">Genre_1</li>
            </ul>
        </td>
        <td>
            <ul th:each="comment: ${comments}" th:object="${comment}">
                <li th:text="*{text}">Comment_1</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>


<div class="main-menu">
    <div><a href="/">Main menu</a></div>
</div>

</body>
</html>
